<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2018  MemVerge Inc.
  -->

<configuration>

  <appender name="SPLASH_TEST_LOG"
    class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>target/splash-test.log</file>

    <rollingPolicy
      class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>target/splash-test.log.%i</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>19</maxIndex>
    </rollingPolicy>

    <triggeringPolicy
      class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>10MB</maxFileSize>
    </triggeringPolicy>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{20} : %msg%n
      </pattern>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{20} : %msg%n
      </pattern>
    </encoder>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="SPLASH_TEST_LOG" />
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
