<!--
  ~ Copyright (c) 2018 MemVerge Inc.
-->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="unit test" verbose="1">
  <test name="Splash unit test">
    <groups>
      <run>
        <include name="UnitTest"/>
      </run>
    </groups>
    <packages>
      <package name="org.apache.spark.shuffle.*"/>
    </packages>
    <classes>
      <class name="org.apache.spark.shuffle.sort.SplashUnsafeSorterTest" />
      <class name="org.apache.spark.shuffle.sort.SplashUnsafeShuffleWriterTest" />
    </classes>
  </test>
</suite>
