<!--
  ~ Copyright (c) 2018 MemVerge Inc.
-->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="unit test" verbose="1">
  <listeners>
    <listener class-name = "com.memverge.mvfs.LogListener" />
  </listeners>

  <test name="jmvfs unit test">
    <groups>
      <run>
        <include name="UnitTest"/>
      </run>
    </groups>
    <packages>
      <package name="com.memverge.mvfs.*"/>
      <package name="org.apache.spark.shuffle.memverge.*"/>
    </packages>
    <classes>
      <class name="org.apache.spark.shuffle.sort.DMOUnsafeSorterTest" />
      <class name="org.apache.spark.shuffle.sort.DMOUnsafeShuffleWriterTest" />
    </classes>
  </test>
</suite>
